@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:ital,wght@0,600;0,700;1,500;1,600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(180deg, #feb054 0%, #fea14e 100%);
  box-shadow: 0px 0px 100px #ff7e36,
    inset -51px -37px 60px rgba(193, 93, 0, 0.5), inset 0px 0px 95px #ff7e36;
  overflow-x: hidden;
}

.container-wrapper {
  width: 23.4375rem;
  height: 100vh;
  min-width: 13.625rem;
  max-width: 23.4375rem;
  max-height: 50rem;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 30px 30px 40px -10px rgba(0, 0, 0, 0.15);
  /* Note: backdrop-filter has minimal browser support */
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.8rem;
  border-radius: 1.8rem;
  border: 0.4rem solid white;
}

#root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
